[Unit]
Description=IOtly
After=multi-user.target

[Service]
User=pi
Type=simple
ExecStart=/usr/bin/python /home/pi/iotly/iotly/iotly.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
