[Unit]
Description=IOtly
After=multi-user.target

[Service]
User=root
Type=simple
ExecStart=/usr/bin/python -m iotly
Restart=on-abort

[Install]
WantedBy=multi-user.target
